html, body {
  margin: 0;
  padding: 0;
}

.app {
  background-image: url('./assets/images/bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}

.display-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.display-flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}


.link-no-decoration {
  text-decoration: none;
  list-style: none;
}



.div-margin {
  margin: 12px;
}




h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  color: #292929;
}
p, span, a, small {
  font-family: 'Nunito Sans', sans-serif;
  color: #292929;
}
.text-error { color: #CC0000 }
.text-info { color: #3B4CCA }
.text-centered { text-align: center; }
.capitalize { text-transform: capitalize; }